body {
  font-family: roboto;
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
:root {
  --main-color: #2196f3;
  --secondary-color: white;
  --third-color: #757575;
  --fourth-color: #ffffff;
  --fifth-color: #212121;
  --sixth-color: #f5f4fa;
  --seventh-color: #2f303a;
  --eighth-color: #e5e5e5;
  --nineth-color: #000000;
  --tenth-color: black;
  --eleven-color: #4d5ae5;
  --twelwe-color: #2e2f42;
  --thirtin-color: #434455;
  --forteen-color: #f4f4fd;
}
.header-logo {
  color: var(--main-color);
  font-family: raleway;
  font-size: 26px;
  font-style: bold;
  line-height: 31px;
  line-height: 100%;
  align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-weight: 700;
  margin: 76px;
  display: flex;
  gap: 40px;
}
.address-header {
  font-style: normal;
}

.logo-part {
  color: var(--fifth-color);
}
.logo1 {
  margin-right: 76px;
  font-weight: 800;
  font-family: raleway;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.logo2 {
  color: #000000;
}

.logo3 {
  color: var(--main-color);
text-transform: uppercase;
  font-style: bold;
  font-size: 18px;
  font-weight: 700;
  font-family: raleway;
  letter-spacing: 0.03em;
  display: inline-block;
  line-height: 100%;
  margin-bottom: 16px;
  text-decoration: none;
}
.logo4 {
  color: var(--fourth-color);
}
.hero {
  border-bottom: solid #e7e9fc;
  border-bottom: 1px;
}
.button-1 {
  cursor: pointer;
  background-color: #e7e9fc;
  color: #4d5ae5;

  font-weight: 700;
  color: var(--secondary-color);
}
.button-1:hover {
  background-color: #404bbf;
  color: #ffffff;
}
.button{
  min-width: 200px;
  padding: 16px 32px;
  border-radius: 4px;
  border-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--main-color);
  line-height: 1.88;
  font-family: roboto;
  letter-spacing: 0.06em;
  margin: auto;
  display: block;
border: none;
  font-weight: 500;
  color: var(--secondary-color);
  background-color: #4d5ae5;
   height: 56px,
    min-width: 169px,
}
.button:hover {
  background-color: #404bbf;
  cursor: pointer;
  border-color: #404bbf;
}
.button:focus {
  cursor: pointer;
}
a:hover {
  color: #4d5ae5;
}
a:active {
}
a {
  text-decoration: none;
 
}
.article {
  padding: 120px 0;

}
.links {
  cursor: pointer;
  text-decoration: none;
  color: var(--thirtin-color);
  font-size: 16px;
}
.links:hover {
  color: #2196f3;
}
.link {
  color: #2e2f42;
  font-size: 16px;
  letter-spacing: 0.04px;
  font-family: roboto;
  font-weight: 500;
}
.ul {
  text-decoration: none;
}
.li {
  text-decoration: none;
}

h3 {
  font-family: roboto;
  font-weight: 500;
  letter-spacing: 2%;
  color: #2e2f42;
  line-height: 24px;
  font-size: 20px;
 
}
.icons-4 {
  font-family: roboto;
  font-weight: 500;
  letter-spacing: 2%;
  color: #2e2f42;
  line-height: 24px;
  font-size: 20px;
 padding-top: 15px;
}
.avatar{
  font-family: roboto;
  font-weight: 500;
  letter-spacing: 2%;
  color: #2e2f42;
  line-height: 24px;
  font-size: 20px;
 
}
.avatar-class{
  color: #434455;
  font-weight: 400;
  font-family: roboto;
  line-height: 24px;
  letter-spacing: 0.032px;
  font-style: normal;
font-size: 16p;
margin-top: 8px;
}
p {
  color: #434455;
  font-weight: 400;
  font-family: roboto;
  line-height: 24px;
  letter-spacing: 0.032px;
  font-style: normal;
font-size: 16p;
margin-top: 8px;
margin: 0;
}
.images4 {
  font-weight: 500;
  letter-spacing: 2%;
}
.nav {
  display: flex;
  align-items: center;
 
  margin-right: auto;
  color: #4d5ae5;
}

.nav-1 {
  display: flex;
  gap: 40px;
  font-family: roboto;
  font-weight: 500;
  color: #2e2f42;
   padding-top: 24px;
  padding-bottom: 24px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}
.container-header-wrap {
  display: flex;
  align-items: center;
}
.header-1 {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  width: 1158px;
  height: 72px;
}

.contats {
  display: flex;
  list-style: none;
  gap: 40px;

  text-decoration: none;
  color: #434455;
  font-family: roboto;
  font-weight: 400;
  letter-spacing: 2%;
  margin-left: auto;
}

.buisness {
  background-color: var(--twelwe-color);
  padding: 188px 0;
    background-image:linear-gradient(rgba(46,47,66,0.7),rgba(47,48,58,0.4)),

url("../images/people-office 1.jpg");
max-width: 1440px;
margin: 0px auto;
background-repeat: no-repeat;
background-size: cover;
}
.effective {
  margin: 0 auto;
  text-align: center;
  max-width: 496px;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 48px;
  color: #ffffff;
}
.strategy {
  display: flex;

  gap: 24px;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
 
}
.container-footer {
  display: flex;
  align-items: baseline;
width: 1158px;

margin: 0 auto;
 
}
.container1{
align-items: baseline;

}
.container-2{

}




.images-3 {
  display: flex;
  list-style: none;
  padding-bottom: 120px;
  gap: 24px;
}
.company{
  padding-bottom: 120px;
}
.images-4 {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 23px;
}
.avatar-img {
  background-color: #ffffff;
}
.hero-footer {
  background-color: var(--twelwe-color);
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
 
}
.footer-1 {
  color: var(--forteen-color);
   max-width: 264px;
}
  .social-subtitle{
     color: var(--forteen-color);
   max-width: 264px;
line-height: 24px;
margin-bottom: 20px;
size: 16px;
  }



.hero-team {
}
.hero-hero {
  padding: 120px 0;
  background-color: var(--forteen-color);
}
.buttons-5 {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;

  margin-bottom: 72px;
  gap: 24px;
}

.lol {
  background-color: #f4f4fd;
  color: #4d5ae5;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  font-family: roboto;
}
.lol:hover {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}
.images-all {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 48px 24px;
  display-flex: wrap;
}

.our-team {
  margin-bottom: 72px;
  text-align: center;
  font-family: roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-transform: capitalize;
}
.images-1{
background-image: ;
}

.images-9 {
  border-left: 1px;
  border-bottom: 1px;
  border-right: 1px;
  border-top: 0px;
  border-color: #e7e9fc;
  border-style: solid;
  padding: 32px 16px;
}
.images-8 {
  border-left: 1px;
  border-bottom: 1px;
  border-right: 1px;
  border-top: 0px;
  border-color: #2e2f42;
  border-style: solid;
  margin: 0;
  border-radius: 4%;
  height: 100px;
}
.pic {
  padding: 32px 0;
  text-align: center;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.studio {
  padding: 96px 120px;
}



.features{

  margin-bottom: 8px;
  background-color: #f5f4fa;
  
}
.main-features{
  width: 264px;
  height: 112px;
  background-color: #f5f4fa;
  border: 1px solid  #8e8f99;
display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;

}


.customers {
  margin-top: 100px;
  margin-bottom: 72px;
  text-align: center;
  font-family: roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-transform: capitalize;

}
.icons-media{
  width: 40px;
  height: 40px;
border-radius: 50%;
background-color: #4d5ae5;
justify-content: center;
align-items: center;
display: flex;
}
.icons-media:hover{
  background-color: #404bbf;
}
.footer-media{
  width: 40px;
  height: 40px;
border-radius: 50%;
background-color: #4d5ae5;
justify-content: center;
align-items: center;
display: flex;
}

.footer-media:hover{
  background-color: #31d0aa;
  fill-color: #31d0aa;
}

.media{
  display: flex;
  gap: 15px;
  
}
.main-social-media{
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
}


.zdjecia6{
display:flex;
display-flex:flex
}
.social-media{
  margin-bottom: 100px;
}

.portfolio{
  width: 1128px;
  height: 1000px;
margin: 0 auto;
}
.border-card{
  border-left:1px solid   rgba(231, 233, 252, 1);
  border-right:1px solid   rgba(231, 233, 252, 1);
    border-bottom:1px solid  rgba(231, 233, 252, 1);
   padding: 32px 16px;
   
}
.border-card:hover{
  border-left:2px solid #e7e9fc;
  border-right:2px solid #e7e9fc; 
 border-bottom:4px solid #e7e9fc;
}
.blue-img{
position: relative;
overflow: hidden;
}

.blue{
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: #4d5ae5;
transform:translateY(100%);
padding-top: 40px;
padding-left: 32px;
padding-right: 32px;
color: #ffffff;
}

.Images:hover .blue {
  transform:translateY(0);
}
.Images:focus{
  cursor: pointer;
}

.footer-button {
  background-color: #4d5ae5;
  color: #ffffff;
   border: 1px solid #4d5ae5;
   padding-left: 35px;
   padding-right: 35px;
   margin-left: 30px;
   height: 40px;
   border-radius: 4px;
}
.footer-button:hover{
background-color: #404bbf;
 cursor: pointer;
}
.footer-button:focus{
  cursor: pointer;
 
}


.input{
 background-color: #2e2f42; 
}
.form-email {
  padding-left: 250px;
 display: flex;
 flex-direction: column;

}
.form-input{
  height: 40px;
  width: 100%;
}

.backdrtop{
position: fixed;
top: 0;
left: 0;
z-index: 9999999;
width: 100%;
height: 100%;
background-color: rgba(46,47,66,0.4);
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4,0,0.2,1);
visibility: 250ms cubic-bezier(0.4,0,0.2,1);
}
.backdrop.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 408px;
min-height: 584px;
background-color: #ffffff;

}
modal.is-open
{
  display: block;
}
.modal-button{
justify-content: center;
  display: inline-flex;
  padding: 12px 32px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  font-size: inherit;
  cursor: pointer;

}
.modal-button:hover{
  background-color: #404bbf;
}
.form-label{
display: flex;
flex-direction: column;
padding: 8px;
width: 100%;
height: 70px;
}
.modal-link{
  color: #2196f3;
  border-bottom: #2196f3;
  text-decoration: underline;
}
.form-footer{
 display: flex;
 
}.footer-form{
  background-color: #2e2f42;
  color: #ffffff;
  border: 1px solid ;
  border-radius: 4px;
padding: 10px;
width: 264px;
}

.label-text{
  height: ;
}
.icons-1{
position:absolute
fill: #2e2f42;
color: #000000;
top:50%;
left:19px;
transform: translateY(-100%)

}
.icons-1:hover{
 fill: #404bbf;
}
.dialog-modal{
font-weight: 500;
color:#2e2f42 ;
size: q16px;
font-family: roboto;
}
.modal-terms{
font-weight: 400;
font-family: roboto;
size: 12px;
color: #8e8f99;
}
.hero-modal{
  position: relative;
}
.footer-containers {
 display: inline-flex;
 gap:50px;
}














